<h1>Create a new account</h1>

<%=  form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label 'Password', :password_digest %>
  <%= f.text_field :password_digest %>

  <%= f.submit %>
<% end %>
